.search{
    border-radius: 20px;
    border: 2px solid rgb(126, 210, 126);
    background: white;
    font-size: 30px;
    color: rgb(126, 210, 126);
    margin: 35px 40px;
    text-align: center;
    padding: 10px 40px;
}

.suma {
    background-color: #65e5ba; 
    color: white;
    border-radius: 70%;
    border: 0px solid #65e5ba;
    font-size: 30px;
    margin: 0px 40px;
    padding: 6px 11px;
}

.create{
    background-color: blue;
    color: white;
    box-shadow: 3px 6px 3px black;
    font-size: 40px;
    margin: 30px;
    border: 3px solid black;
    text-align: center;
    padding: 10px 60px;
}